
p {
  margin-left: 2vw;
}

.map-container {
  height: 500px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
  background-color: rgb(128, 209, 189);
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

form {
  display: block;
  margin-left : 2vw;
  text-align: left;
}